<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Todo list</title>
	<link rel="stylesheet" href="style.css">
	<script data-main="js/script.js" src="js/require.js"></script>
	</head>
<body>
	<h2>ToDoList</h2>
	<script type="text/template" id="wrapper-template">
		<div class="wrapper">
			<ul class="item-list"></ul>
			<div class="controlls">
				<input type="text" class="item-value">
				<button class="item-add">Add</button>
				<button class="item-confirm">Confirm changes</button>
			</div>
		</div>
	</script>

	<script type="text/template" id="list-template">
		<% for (var i = 0; i < data.length; i++) { %>
			<li data-index="<%= i %>" class="list-item"><%= data[i] %>
            <button data-value="<%= data[i] %>" class="item-delete">X</button>
            <button  class="item-change">Change</button>
			</li>
		<% }; %>
	</script>

	
</body>
</html>