*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	text-align: center;
}
.wrapper {
	width: 350px;
	margin: 0 auto;
	padding: 30px;
	background-color: #ccc;
	border: 1px solid #aaa;
	border-radius: 8px;
}
h2 {
	margin: 40px;
	text-shadow: 3px 3px 3px #CCCCFF;
}
.item-list {
	padding-left: 30px;
	line-height: 30px;
}
.list-item {
	text-align: left;
	
}
.item-value {
	height: 30px;
}
.item-add {
	padding: 6px;
	background-color: #99FF66;
	border-radius: 6px;
}
.item-confirm {
	padding: 6px;
	background-color: #FFFF66;
	border-radius: 6px;
}
.item-delete {
	width: 20px;
	margin-left: 3px;
	padding: 2px;
	color: red;
	float: right;
}
.item-change {
	padding: 2px;
	color: #3366CC;
	float: right;
}