<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>URLAUBSGLÜCK</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/main.css">
	<!--[if lt IE 8]><link rel="stylesheet" href="css/ie-8.css"><![endif]-->
	<script src="js/jquery-1.12.3.min.js"></script>
	<script src="js/tmpl.js"></script>
	<script src="js/isotope.js"></script>
	<script src="js/script.js"></script>
	<!--[if lt IE 8]>
	<script>
	document.createElement('header');
	document.createElement('footer');
	</script><![endif]-->
	
</head>
<body>
<div class="wrapper">
<!-- HEADER -->
	<header class="header">
		<div class="header_logo"><a href="#">URLAUBSGLÜCK</a></div>
		<div class="header_menu">
			<a href="#" id="Log-in">Log in</a>
			<a href="#" id="Sign-up">Sign up</a>
		</div>
		<div class="header_slogan">
			<h1>SHARE YOUR HOLIDAY DREAMS</h1>
			<p>And find the perfect partner <br>
			to fullfill it</p>
			<a href="#" class="header_button">Find your holiday partner</a>
		</div>
	</header>
<!-- STEPS -->
	<div class="steps">
		<h3>How Urlaubsglück works?</h3>
				<!-- SLIDER STEPS-1 -->
		<div class="steps-1">
			<div class="steps-1_nav">
				<span class="steps-1_nav_left"></span>
				<span class="steps-1_nav_right"></span>
			</div>
			<div class="steps-1_block1">
				<p class="steps_mark">STEP 1</p>
				<h2 class="steps_header">Sed leo enim, condimentum</h2>
				<p class="steps_text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
			</div>
			<div class="steps-1_block2">
				<p class="steps_mark">STEP 1</p>
				<h2 class="steps_header">Lorem ipsum dolor sit amet</h2>
				<p class="steps_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis veniam sapiente odit ipsum. Natus asperiores.</p>
			</div>
			<div class="steps-1_block3">
				<p class="steps_mark">STEP 1</p>
				<h2 class="steps_header">Quibusdam officiis eveniet fugiat</h2>
				<p class="steps_text">Soluta aspernatur animi alias maxime quisquam autem, culpa perspiciatis totam voluptates, non libero cumque.</p>
			</div>
		</div>
				<!-- SLIDER STEPS-2 -->
		<div class="steps-2">
			<div class="steps-2_nav">
				<span class="steps-2_nav_left"></span>
				<span class="steps-2_nav_right"></span>
			</div>
			<div class="steps-2_block1">
				<p class="steps_mark">STEP 2</p>
				<h2 class="steps_header">Morbi velit risus</h2>
				<p class="steps_text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
			</div>
			<div class="steps-2_block2">
				<p class="steps_mark">STEP 2</p>
				<h2 class="steps_header">At dolorem inventore</h2>
				<p class="steps_text">Assumenda nesciunt, ducimus omnis adipisci quas dicta porro minus debitis harum veritatis exercitationem.</p>
			</div>
			<div class="steps-2_block3">
				<p class="steps_mark">STEP 2</p>
				<h2 class="steps_header">Dignissimos cupiditate</h2>
				<p class="steps_text">Vitae eius, consectetur fugiat suscipit accusamus laudantium corporis ex necessitatibus.</p>
			</div>
		</div>
				<!-- SLIDER STEPS-3 -->
		<div class="steps-3">
			<div class="steps-3_nav">
				<span class="steps-3_nav_left"></span>
				<span class="steps-3_nav_right"></span>
			</div>
			<div class="steps-3_block1">
				<p class="steps_mark">STEP 3</p>
				<h2 class="steps_header">Quibusdam officiis eveniet fugiat</h2>
				<p class="steps_text">Soluta aspernatur animi alias maxime quisquam autem, culpa perspiciatis totam voluptates, non libero cumque.</p>
			</div>
			<div class="steps-3_block2">
				<p class="steps_mark">STEP 3</p>
				<h2 class="steps_header">Sed leo enim, condimentum</h2>
				<p class="steps_text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
			</div>
			<div class="steps-3_block3">
				<p class="steps_mark">STEP 3</p>
				<h2 class="steps_header">Recusandae ad suscipit</h2>
				<p class="steps_text">Assumenda nesciunt, ducimus omnis adipisci quas dicta porro minus debitis harum veritatis exercitationem voluptas.</p>
			</div>
		</div>
	</div>
<!-- PARTNERS -->
	<div class="partners">
		<h2>Meet a partner for your best holiday</h2>
		<div class="partners_block">
			<img src="img/face1.png" alt="face1">
			<h3 class="partners_name">Bradley Hunter</h3>
			<span class="partners_description">Based in Chicago. I love playing tennis and loud music.</span>
		</div>
		<div class="partners_block">
			<img src="img/face2.png" alt="face2">
			<h3 class="partners_name">Heather Walker</h3>
			<span class="partners_description">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</span>
		</div>
		<div class="partners_block">
			<img src="img/face3.png" alt="face3">
			<h3 class="partners_name">Lucas Marsha</h3>
			<span class="partners_description">I'm a happy person that loves cats and climbing on mountains.</span>
		</div>
		<div class="partners_block">
			<img src="img/face4.png" alt="face4">
			<h3 class="partners_name">Bradley Hunter</h3>
			<span class="partners_description">Based in Chicago. I love playing tennis and loud music.</span>
		</div>
		<a href="#" class="partners_search_button">See other partners</a>
	</div>
<!-- IDEAS -->
	<div class="ideas">
		<h2>Discover holiday activity ideas</h2>
		<!-- template -->
		<script type="text/template" id="list-template">
		
			<% for (var i=0; i<data.hits.length; i++) { %>
			<div class="grid-item">
				<img src="<%= data.hits[i].webformatURL %>" alt="<%= data.hits[i].tags %>">
				<h3><%= data.hits[i].tags %></h3>
			</div>
			<% }; %>
		</script>
		<div class="grid">
		</div>
		<div class="ideas_holiday">
			<h3>Discover holiday activity ideas</h3>
			<span>Hi! What are your holiday interests?</span>
			<input type="text" class="ideas_search" placeholder=" Enter you interests">
			<button type="submit" class="ideas_submit">Search partners</button>
		</div>
	</div>
	<footer class="footer">
		<h3><a href="#">URLAUBSGLÜCK</a></h3>
		<div class="footer_wrapper">
			<div class="footer_company">
				<h4>Company</h4>
				<ul class="footer_company_menu">
					<li class="footer_menu_item"><a href="#">About</a></li>
					<li class="footer_menu_item"><a href="#">Contacts</a></li>
					<li class="footer_menu_item"><a href="#">Press</a></li>
					<li class="footer_menu_item"><a href="#">Blog</a></li>
				</ul>
			</div>
			<div class="footer_partners">
				<h4>Partners</h4>
			</div>	
		</div>
		<a href="#" class="footer_logo"></a>
	</footer>
</div>	
</body>
</html>

