header, footer {
	display: block;
}
.wrapper .header .header_logo{
	width: 200px;
	display: inline;
	position: absolute;
	top: 50px;
	left: 26px;
	font-size: 21px;
	zoom: 1;
}
.wrapper .header .header_menu {
	position: absolute;
	display: inline;
	top: 33px;
	right: 38px;
	zoom: 1;
} 
.wrapper .header .header_slogan h1 {
	font-size: 50px;
	line-height: 64px; 
} 
.wrapper .header .header_slogan p {
	font: 100 26px "Roboto"; 
} 
.wrapper .steps {
        padding-top: 100px;
        text-align: center;
        height: 520px; 
} 
.wrapper .steps h3 {
      margin-bottom: 30px; 
      font-family: "Montserrat";
      font-size: 22px;
      font-weight: bold;
      text-align: center; 
}
.wrapper .steps .steps-1 {
          display: inline;
          width: 258px;
          height: 188px;
          margin: 6px;
          padding: 213px 20px 0px;
          text-align: left;
          zoom: 1;
          background-image: url(../img/step-1_desktop.png); 
} 
.wrapper .steps .steps-1 .steps-1_nav_left {
            width: 30px;
            height: 55px;
            position: absolute;
            background-image: url(../img/lefl_arrow_tablet.png);
            left: 10px;
            top: 35px; 
} 
.wrapper .steps .steps-1 .steps-1_nav_right {
            width: 30px;
            height: 55px;
            position: absolute;
            background-image: url(../img/right_arrow_tablet.png);
            right: 10px;
            top: 35px; 
}
.wrapper .steps .steps-2 {
          width: 258px;
          height: 188px;
          margin: 6px;
          padding: 213px 20px 0px;
          display: inline;
          text-align: left;
          zoom: 1;
          background-image: url(../img/step-2_desktop.png); 
} 
.wrapper .steps .steps-2 .steps-2_nav_left {
            width: 30px;
            height: 55px;
            position: absolute;
            background-image: url(../img/lefl_arrow_tablet.png);
            left: 10px;
            top: 35px; 
} 
.wrapper .steps .steps-2 .steps-2_nav_right {
            width: 30px;
            height: 55px;
            position: absolute;
            background-image: url(../img/right_arrow_tablet.png);
            right: 10px;
            top: 35px; 
}
.wrapper .steps .steps-3 {
          width: 258px;
          height: 188px;
          margin: 6px;
          padding: 213px 20px 0px;
          display: inline;
          text-align: left;
          zoom: 1;
          background-image: url(../img/step-3_desktop.png); 
} 
.wrapper .steps .steps-3 .steps-3_nav_left {
            width: 30px;
            height: 55px;
            position: absolute;
            background-image: url(../img/lefl_arrow_tablet.png);
            left: 10px;
            top: 35px; 
} 
.wrapper .steps .steps-3 .steps-3_nav_right {
            width: 30px;
            height: 55px;
            position: absolute;
            background-image: url(../img/right_arrow_tablet.png);
            right: 10px;
            top: 35px; 
}
.wrapper .partners h2 {
          width: 100%; 
}
.wrapper .partners .partners_block {
          display: inline;
          width: 220px;
          margin: 30px 5px 0 5px; 
          vertical-align: top; 
          zoom: 1;
} 
.wrapper .partners .partners_search_button {
          width: 190px;
          margin: 30px auto 60px; 
} 
.wrapper .ideas {
        height: 1393px; 
}
.wrapper .ideas h2 {
          margin-bottom: 34px; 
} 
.wrapper .ideas .grid {
          width: 950px; 
} 
.wrapper .ideas .grid .grid-item {
        display: inline;
        zoom: 1;
}
.wrapper .ideas .grid .grid-item img {
              width: 300px;
              height: 300px; 
}
.wrapper .ideas .grid .grid-item:nth-child(5) img {
            width: 600px; 
}
.wrapper .ideas .grid .grid-item:nth-child(6) img {
            width: 600px; 
}
.wrapper .ideas .ideas_holiday {
          width: 450px;
          height: 275px;
          margin-left: -230px;
          bottom: 17px; 
} 
.wrapper .ideas .ideas_holiday h3 {
            margin: 35px 0 33px; 
} 
.wrapper .ideas .ideas_holiday input {
            width: 237px;
            margin: 38px 0 10px 180px;
            display: inline; 
            zoom: 1;
}
.wrapper .ideas .ideas_holiday button {
            width: 162px;
            margin-top: 28px; 
} 
.wrapper .footer {
        padding-top: 36px; 
        text-align: left;
}
.wrapper .footer h3 {
          margin-left: 30px;
          float: left; 
}
.wrapper .footer .footer_wrapper {
        width: 250px;
        margin-left: 25%; 
} 
.wrapper .footer .footer_wrapper .footer_company {
        width: 120px;
        display: inline;
        text-align: left; 
        zoom: 1;
} 
.wrapper .footer .footer_wrapper .footer_company .footer_company_menu .footer_menu_item {
          display: block; 
}
.wrapper .footer .footer_wrapper h4 {
          margin-top: 0;
          margin-bottom: 13px; 
} 
.wrapper .footer .footer_wrapper .footer_partners {
        width: 120px;
        display: inline;
        zoom: 1;
        vertical-align: top; 
} 
.wrapper .footer .footer_logo {
          width: 115px;
          height: 44px;
          margin-top: -120px;
          float: right;
          margin-right: 30px;
          background-image: url(../img/designed_logo_tablet.png); 
}


