@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
.wrapper {
  min-width: 320px;
  /*end header*/
  /*end steps*/
  /*end partners*/
  /*end ideas*/
  /*end footer*/ }
  .wrapper .header {
    /*header*/
    height: 525px;
    padding-top: 15px;
    position: relative;
    background-image: url(../img/logo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-family: "Montserrat", "Arial";
    color: white; }
    @media screen and (min-width: 767px) {
      .wrapper .header {
        height: 686px; } }
    .wrapper .header .header_container {
      width: 320px;
      margin: 0 auto;
      position: relative; }
      @media screen and (min-width: 767px) {
        .wrapper .header .header_container {
          width: 768px; } }
      @media screen and (min-width: 959px) {
        .wrapper .header .header_container {
          width: 960px; } }
      .wrapper .header .header_container .header_logo {
        position: absolute;
        width: 100%;
        top: 159px;
        font-size: 21px; }
        @media screen and (min-width: 767px) {
          .wrapper .header .header_container .header_logo {
            width: 200px;
            top: 34px;
            left: 40px;
            font-size: 21px; } }
        @media screen and (min-width: 959px) {
          .wrapper .header .header_container .header_logo {
            left: 0; } }
        .wrapper .header .header_container .header_logo a:hover {
          color: black; }
      .wrapper .header .header_container a {
        text-decoration: none;
        color: white;
        font-weight: bold; }
      @media screen and (min-width: 767px) {
        .wrapper .header .header_container .header_menu {
          position: absolute;
          display: inline-block;
          top: 18px;
          right: 43px; } }
      @media screen and (min-width: 959px) {
        .wrapper .header .header_container .header_menu {
          right: 4px; } }
      .wrapper .header .header_container .header_menu #Log-in {
        margin: 6px 10px; }
        .wrapper .header .header_container .header_menu #Log-in:hover {
          color: black; }
      .wrapper .header .header_container .header_menu #Sign-up {
        margin: 6px;
        width: 85px;
        height: 30px;
        border: 2px solid white;
        border-radius: 15px;
        line-height: 30px;
        display: inline-block; }
        .wrapper .header .header_container .header_menu #Sign-up:hover {
          background-color: black; }
    .wrapper .header .header_slogan {
      margin-top: 160px; }
      @media screen and (min-width: 767px) {
        .wrapper .header .header_slogan {
          margin-top: 198px; } }
      .wrapper .header .header_slogan h1 {
        width: 320px;
        margin: 0 auto;
        font-size: 30px;
        line-height: 37px;
        font-weight: bold;
        font-family: Montserrat; }
        @media screen and (min-width: 767px) {
          .wrapper .header .header_slogan h1 {
            width: 540px;
            margin: 8px auto;
            font-size: 52px;
            line-height: 64px; } }
      .wrapper .header .header_slogan p {
        width: 230px;
        margin: 8px auto 0;
        font: 100 18px "Roboto"; }
        @media screen and (min-width: 767px) {
          .wrapper .header .header_slogan p {
            width: 100%;
            margin-top: 22px;
            font: 100 25px Roboto; } }
      .wrapper .header .header_slogan .header_button {
        width: 280px;
        height: 40px;
        display: block;
        margin: 15px auto;
        background-color: #ff4e50;
        border-radius: 20px;
        line-height: 40px; }
        @media screen and (min-width: 767px) {
          .wrapper .header .header_slogan .header_button {
            width: 225px;
            margin-top: 34px; } }
        .wrapper .header .header_slogan .header_button:hover {
          color: black; }
  .wrapper .steps {
    /*steps*/
    padding-top: 40px;
    height: 780px;
    /*end steps-1 */
    /*end steps-2*/
    /*end steps-3 */ }
    @media screen and (min-width: 767px) {
      .wrapper .steps {
        padding-top: 98px;
        text-align: center;
        height: 520px; } }
    .wrapper .steps h3 {
      margin-bottom: 16px;
      font-family: "Montserrat";
      font-size: 22px;
      font-weight: bold;
      text-align: center; }
      @media screen and (min-width: 767px) {
        .wrapper .steps h3 {
          margin-bottom: 30px;
          padding-left: 10px; } }
      @media screen and (min-width: 959px) {
        .wrapper .steps h3 {
          padding-left: 0; } }
    .wrapper .steps .steps-1 {
      /*steps-1 */
      width: 260px;
      height: 170px;
      margin: 10px auto;
      padding: 70px 20px 0px;
      position: relative;
      background-image: url(../img/step-1_mobile.png);
      overflow: hidden;
      text-align: left; }
      @media screen and (min-width: 767px) {
        .wrapper .steps .steps-1 {
          width: 195px;
          height: 188px;
          margin: 6px;
          padding: 213px 20px 0px;
          display: inline-block;
          text-align: left;
          background-image: url(../img/step-1_tablet.png); } }
      @media screen and (min-width: 958px) {
        .wrapper .steps .steps-1 {
          width: 258px;
          background-image: url(../img/step-1_desktop.png); } }
      .wrapper .steps .steps-1 .steps-1_nav_left {
        position: absolute;
        width: 150px;
        height: 240px;
        left: 0;
        top: 0; }
        @media screen and (min-width: 767px) {
          .wrapper .steps .steps-1 .steps-1_nav_left {
            width: 30px;
            height: 55px;
            background-image: url(../img/lefl_arrow_tablet.png);
            left: 20px;
            top: 40px; } }
        @media screen and (min-width: 959px) {
          .wrapper .steps .steps-1 .steps-1_nav_left {
            left: 15px;
            top: 155px; } }
      .wrapper .steps .steps-1 .steps-1_nav_right {
        position: absolute;
        width: 150px;
        height: 240px;
        right: 0;
        top: 0; }
        @media screen and (min-width: 767px) {
          .wrapper .steps .steps-1 .steps-1_nav_right {
            width: 30px;
            height: 55px;
            background-image: url(../img/right_arrow_tablet.png);
            right: 20px;
            top: 40px; } }
        @media screen and (min-width: 959px) {
          .wrapper .steps .steps-1 .steps-1_nav_right {
            right: 15px;
            top: 155px; } }
      .wrapper .steps .steps-1 .steps-1_block1, .wrapper .steps .steps-1 .steps-1_block2, .wrapper .steps .steps-1 .steps-1_block3 {
        display: none; }
        .wrapper .steps .steps-1 .steps-1_block1.show, .wrapper .steps .steps-1 .steps-1_block2.show, .wrapper .steps .steps-1 .steps-1_block3.show {
          display: block; }
    .wrapper .steps .steps-2 {
      /*steps-2*/
      width: 260px;
      height: 170px;
      margin: 10px auto;
      padding: 70px 20px 0px;
      position: relative;
      background-image: url(../img/step-2_mobile.png);
      overflow: hidden; }
      @media screen and (min-width: 767px) {
        .wrapper .steps .steps-2 {
          width: 195px;
          height: 188px;
          margin: 6px 10px;
          padding: 213px 20px 0px;
          display: inline-block;
          text-align: left;
          background-image: url(../img/step-2_tablet.png); } }
      @media screen and (min-width: 958px) {
        .wrapper .steps .steps-2 {
          width: 258px;
          background-image: url(../img/step-2_desktop.png); } }
      .wrapper .steps .steps-2 .steps-2_nav_left {
        position: absolute;
        width: 150px;
        height: 240px;
        left: 0;
        top: 0; }
        @media screen and (min-width: 767px) {
          .wrapper .steps .steps-2 .steps-2_nav_left {
            width: 30px;
            height: 55px;
            background-image: url(../img/lefl_arrow_tablet.png);
            left: 20px;
            top: 40px; } }
        @media screen and (min-width: 959px) {
          .wrapper .steps .steps-2 .steps-2_nav_left {
            left: 15px;
            top: 155px; } }
      .wrapper .steps .steps-2 .steps-2_nav_right {
        position: absolute;
        width: 150px;
        height: 240px;
        right: 0;
        top: 0; }
        @media screen and (min-width: 767px) {
          .wrapper .steps .steps-2 .steps-2_nav_right {
            width: 30px;
            height: 55px;
            background-image: url(../img/right_arrow_tablet.png);
            right: 20px;
            top: 40px; } }
        @media screen and (min-width: 959px) {
          .wrapper .steps .steps-2 .steps-2_nav_right {
            right: 15px;
            top: 155px; } }
      .wrapper .steps .steps-2 .steps-2_block1, .wrapper .steps .steps-2 .steps-2_block2, .wrapper .steps .steps-2 .steps-2_block3 {
        display: none; }
        .wrapper .steps .steps-2 .steps-2_block1.show, .wrapper .steps .steps-2 .steps-2_block2.show, .wrapper .steps .steps-2 .steps-2_block3.show {
          display: block; }
    .wrapper .steps .steps-3 {
      /*steps-3 */
      width: 260px;
      height: 170px;
      margin: 10px auto;
      padding: 70px 20px 0px;
      position: relative;
      background-image: url(../img/step-3_mobile.png);
      overflow: hidden; }
      @media screen and (min-width: 767px) {
        .wrapper .steps .steps-3 {
          width: 195px;
          height: 188px;
          margin: 6px;
          padding: 213px 20px 0px;
          display: inline-block;
          text-align: left;
          background-image: url(../img/step-3_tablet.png); } }
      @media screen and (min-width: 958px) {
        .wrapper .steps .steps-3 {
          width: 258px;
          background-image: url(../img/step-3_desktop.png); } }
      .wrapper .steps .steps-3 .steps-3_nav_left {
        position: absolute;
        width: 150px;
        height: 240px;
        left: 0;
        top: 0; }
        @media screen and (min-width: 767px) {
          .wrapper .steps .steps-3 .steps-3_nav_left {
            width: 30px;
            height: 55px;
            background-image: url(../img/lefl_arrow_tablet.png);
            left: 20px;
            top: 40px; } }
        @media screen and (min-width: 959px) {
          .wrapper .steps .steps-3 .steps-3_nav_left {
            left: 15px;
            top: 155px; } }
      .wrapper .steps .steps-3 .steps-3_nav_right {
        position: absolute;
        width: 150px;
        height: 240px;
        right: 0;
        top: 0; }
        @media screen and (min-width: 767px) {
          .wrapper .steps .steps-3 .steps-3_nav_right {
            width: 30px;
            height: 55px;
            background-image: url(../img/right_arrow_tablet.png);
            right: 20px;
            top: 40px; } }
        @media screen and (min-width: 959px) {
          .wrapper .steps .steps-3 .steps-3_nav_right {
            right: 15px;
            top: 155px; } }
      .wrapper .steps .steps-3 .steps-3_block1, .wrapper .steps .steps-3 .steps-3_block2, .wrapper .steps .steps-3 .steps-3_block3 {
        display: none; }
        .wrapper .steps .steps-3 .steps-3_block1.show, .wrapper .steps .steps-3 .steps-3_block2.show, .wrapper .steps .steps-3 .steps-3_block3.show {
          display: block; }
    .wrapper .steps .steps_mark {
      width: 70px;
      height: 18px;
      margin-bottom: 15px;
      background-color: #ff4e50;
      border-radius: 10px;
      text-align: center;
      line-height: 18px;
      color: white;
      font-size: 10px;
      font-weight: bold; }
    .wrapper .steps .steps_header {
      margin-bottom: 15px;
      color: white;
      font-size: 22px;
      line-height: 28px;
      font-weight: bold; }
    .wrapper .steps .steps_text {
      margin-bottom: 80px;
      font: 100 14px "Roboto";
      color: #ccc; }
  .wrapper .partners {
    /*partners*/
    margin-top: 30px;
    text-align: center; }
    @media screen and (min-width: 767px) {
      .wrapper .partners {
        width: 750px;
        margin: 32px auto 0; } }
    @media screen and (min-width: 959px) {
      .wrapper .partners {
        width: 960px;
        margin-top: 32px; } }
    .wrapper .partners h2 {
      width: 300px;
      margin: 0 auto;
      font: 700 22px "Montserrat";
      line-height: 26px; }
      @media screen and (min-width: 767px) {
        .wrapper .partners h2 {
          width: 100%; } }
    .wrapper .partners .partners_block {
      width: 220px;
      margin: 10px auto 20px; }
      @media screen and (min-width: 767px) {
        .wrapper .partners .partners_block {
          display: inline-block;
          margin: 26px 12px -10px 19px;
          vertical-align: top; } }
      @media screen and (min-width: 959px) {
        .wrapper .partners .partners_block {
          margin: 30px 5px 0 5px; } }
      .wrapper .partners .partners_block .partners_name {
        font-size: 12px;
        font-weight: bold;
        line-height: 42px; }
      .wrapper .partners .partners_block .partners_description {
        font: 100 14px "Roboto";
        color: #aaa; }
    .wrapper .partners .partners_search_button {
      width: 275px;
      height: 35px;
      margin: 25px auto 0;
      display: block;
      border: 2px solid #ff4e50;
      border-radius: 20px;
      font: 700 14px "Montserrat";
      line-height: 35px;
      text-decoration: none;
      color: #ff4e50; }
      @media screen and (min-width: 767px) {
        .wrapper .partners .partners_search_button {
          width: 188px;
          margin: 80px auto 61px; } }
      @media screen and (min-width: 958px) {
        .wrapper .partners .partners_search_button {
          margin: 30px auto 60px; } }
      .wrapper .partners .partners_search_button:hover {
        color: black; }
  .wrapper .ideas {
    /*ideas*/
    height: 1244px;
    padding-top: 25px;
    position: relative;
    text-align: center;
    border-bottom: 3px solid #ff4e50; }
    @media screen and (min-width: 767px) {
      .wrapper .ideas {
        height: 1393px; } }
    @media screen and (min-width: 959px) {
      .wrapper .ideas {
        height: 1396px; } }
    .wrapper .ideas h2 {
      width: 320px;
      margin: 0 auto 8px;
      padding-top: 10px;
      font: 700 22px "Montserrat"; }
      @media screen and (min-width: 767px) {
        .wrapper .ideas h2 {
          width: 100%;
          margin-bottom: 23px; } }
      @media screen and (min-width: 959px) {
        .wrapper .ideas h2 {
          margin-bottom: 30px; } }
    .wrapper .ideas .grid {
      width: 310px;
      margin: 0 auto; }
      @media screen and (min-width: 767px) {
        .wrapper .ideas .grid {
          width: 760px; } }
      @media screen and (min-width: 959px) {
        .wrapper .ideas .grid {
          width: 950px; } }
      .wrapper .ideas .grid .ideas_warning {
        width: 600px;
        height: 100px;
        margin: 0 auto;
        background-color: #eee;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 20px;
        text-shadow: 1px 1px 1px #153b69;
        line-height: 40px; }
      .wrapper .ideas .grid .grid-item {
        display: inline-block;
        position: relative;
        margin: 5px; }
        @media screen and (min-width: 767px) {
          .wrapper .ideas .grid .grid-item {
            margin: 10px; } }
        @media screen and (min-width: 959px) {
          .wrapper .ideas .grid .grid-item {
            margin: 10px; } }
        .wrapper .ideas .grid .grid-item img {
          width: 300px;
          height: 120px;
          border-radius: 5px; }
          @media screen and (min-width: 767px) {
            .wrapper .ideas .grid .grid-item img {
              width: 230px;
              height: 310px; } }
          @media screen and (min-width: 959px) {
            .wrapper .ideas .grid .grid-item img {
              width: 290px;
              height: 310px; } }
        @media screen and (min-width: 767px) {
          .wrapper .ideas .grid .grid-item:nth-child(5) img {
            width: 480px; } }
        @media screen and (min-width: 959px) {
          .wrapper .ideas .grid .grid-item:nth-child(5) img {
            width: 600px; } }
        @media screen and (min-width: 767px) {
          .wrapper .ideas .grid .grid-item:nth-child(6) img {
            width: 480px; } }
        @media screen and (min-width: 959px) {
          .wrapper .ideas .grid .grid-item:nth-child(6) img {
            width: 600px; } }
        .wrapper .ideas .grid .grid-item h3 {
          padding-left: 20px;
          font-size: 20px;
          font-weight: bold;
          position: absolute;
          top: 40%;
          color: white; }
    .wrapper .ideas .ideas_holiday {
      width: 320px;
      height: 230px;
      padding-left: 10px;
      margin-left: -170px;
      position: absolute;
      bottom: 37px;
      left: 50%; }
      @media screen and (min-width: 767px) {
        .wrapper .ideas .ideas_holiday {
          width: 450px;
          height: 275px;
          padding-left: 6px;
          margin-left: -230px;
          bottom: 17px; } }
      .wrapper .ideas .ideas_holiday h3 {
        margin: 35px 0 10px;
        font: 700 22px "Montserrat"; }
        @media screen and (min-width: 767px) {
          .wrapper .ideas .ideas_holiday h3 {
            margin: 35px 0 33px; } }
      .wrapper .ideas .ideas_holiday span {
        font-size: 16px; }
        @media screen and (min-width: 767px) {
          .wrapper .ideas .ideas_holiday span {
            font-size: 1.1em; } }
      .wrapper .ideas .ideas_holiday input {
        width: 280px;
        height: 34px;
        margin: 15px auto 10px;
        display: block;
        border-radius: 5px; }
        @media screen and (min-width: 767px) {
          .wrapper .ideas .ideas_holiday input {
            width: 237px;
            margin: 38px auto 10px;
            display: inline-block; } }
      .wrapper .ideas .ideas_holiday button {
        width: 280px;
        height: 44px;
        border-radius: 22px;
        color: white;
        background-color: #ff4e50;
        font-size: 14px; }
        @media screen and (min-width: 767px) {
          .wrapper .ideas .ideas_holiday button {
            width: 162px;
            margin-top: 28px; } }
        .wrapper .ideas .ideas_holiday button:hover {
          color: black; }
  .wrapper .footer {
    /*footer*/
    padding-top: 18px;
    text-align: center; }
    @media screen and (min-width: 767px) {
      .wrapper .footer {
        padding-top: 37px;
        height: 215px; } }
    .wrapper .footer .footer_container {
      margin: 0 auto;
      width: 320px; }
      @media screen and (min-width: 767px) {
        .wrapper .footer .footer_container {
          width: 768px; } }
      @media screen and (min-width: 959px) {
        .wrapper .footer .footer_container {
          width: 960px; } }
      .wrapper .footer .footer_container h3 {
        font-weight: bold;
        font-size: 16px; }
        @media screen and (min-width: 767px) {
          .wrapper .footer .footer_container h3 {
            margin-left: 40px;
            float: left; } }
        @media screen and (min-width: 959px) {
          .wrapper .footer .footer_container h3 {
            margin-left: 10px; } }
        .wrapper .footer .footer_container h3 a {
          text-decoration: none;
          color: #ff4e50; }
          .wrapper .footer .footer_container h3 a:hover {
            color: black; }
      @media screen and (min-width: 767px) {
        .wrapper .footer .footer_container .footer_wrapper {
          width: 250px;
          margin: 0 auto; } }
      @media screen and (min-width: 959px) {
        .wrapper .footer .footer_container .footer_wrapper {
          margin-left: 234px; } }
      @media screen and (min-width: 767px) {
        .wrapper .footer .footer_container .footer_wrapper .footer_company {
          width: 120px;
          display: inline-block;
          text-align: left; } }
      .wrapper .footer .footer_container .footer_wrapper .footer_company .footer_company_menu .footer_menu_item {
        margin: 3px;
        display: inline-block; }
        @media screen and (min-width: 767px) {
          .wrapper .footer .footer_container .footer_wrapper .footer_company .footer_company_menu .footer_menu_item {
            display: block;
            line-height: 20px; } }
        .wrapper .footer .footer_container .footer_wrapper .footer_company .footer_company_menu .footer_menu_item a {
          text-decoration: none;
          color: black; }
      .wrapper .footer .footer_container .footer_wrapper h4 {
        margin-top: 9px;
        font-weight: bold;
        font-size: 13px; }
        @media screen and (min-width: 767px) {
          .wrapper .footer .footer_container .footer_wrapper h4 {
            margin-top: 0;
            margin-bottom: 13px;
            padding-left: 6px; } }
      @media screen and (min-width: 767px) {
        .wrapper .footer .footer_container .footer_wrapper .footer_partners {
          width: 85px;
          padding-left: 40px;
          display: inline-block;
          vertical-align: top; } }
      @media screen and (min-width: 959px) {
        .wrapper .footer .footer_container .footer_wrapper .footer_partners {
          padding-left: 24px; } }
      .wrapper .footer .footer_container .footer_logo {
        width: 110px;
        height: 40px;
        display: block;
        margin: 25px auto;
        background-image: url(../img/designed_logo_mobile.png); }
        @media screen and (min-width: 767px) {
          .wrapper .footer .footer_container .footer_logo {
            width: 115px;
            height: 44px;
            margin-top: -121px;
            float: right;
            margin-right: 35px;
            background-image: url(../img/designed_logo_tablet.png); } }
        @media screen and (min-width: 959px) {
          .wrapper .footer .footer_container .footer_logo {
            margin-right: 6px; } }

/*end*/

/*# sourceMappingURL=main.css.map */
