@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


.wrapper {
	min-width: 320px;

	.header {     /*header*/
		height: 525px;
		padding-top: 15px;
		position: relative;
		background-image: url(../img/logo.jpg);
		background-position: center;
		background-repeat: no-repeat;
		text-align: center;
		font-family: "Montserrat", "Arial";
		color: white;
		@media screen and(min-width: 767px){
			height: 686px;
		}
		.header_container {
			width: 320px;
			margin: 0 auto;
			position: relative;
			@media screen and(min-width: 767px) {
				width: 768px;
			}
			@media screen and(min-width: 959px) {
				width: 960px;
			}
			.header_logo {
				position: absolute;
				width: 100%;
				top: 159px;
				font-size: 21px;
				@media screen and(min-width: 767px) {
					width: 200px;
					top: 34px;
					left: 40px;
					font-size: 21px;
				}
				@media screen and(min-width: 959px){
						left: 0;
					}
					a:hover {
						color: black;
					}
				}
				a {
					text-decoration: none;
					color: white;
					font-weight: bold;
				}
			.header_menu {
				@media screen and(min-width: 767px){
					position: absolute;
					display: inline-block;
					top: 18px;
					right: 43px;
				}
				@media screen and(min-width: 959px){
						right: 4px;
					}
				#Log-in{
					margin: 6px 10px;
					&:hover {
						color: black;
					}
				}
				#Sign-up {
					margin: 6px;
					width: 85px;
					height: 30px;
					border: 2px solid white;
					border-radius: 15px;
					line-height: 30px;
					display: inline-block;
					&:hover {
						background-color: black;
					}
				}
			}
		}
		.header_slogan {
			margin-top: 160px;
			@media screen and(min-width: 767px){
				margin-top: 198px;
			}
			h1 {
				width: 320px;
				margin: 0 auto;
				font-size: 30px;
				line-height: 37px;
				font-weight: bold;
				font-family: Montserrat;
				@media screen and(min-width: 767px){
					width: 540px;
					margin: 8px auto;
					font-size: 52px;
					line-height: 64px;
				}
			}
			p {
				width: 230px;
				margin: 8px auto 0;
				font: 100 18px "Roboto";
				@media screen and(min-width: 767px){
					width: 100%;
					margin-top: 22px;
					font: 100 25px Roboto;
				}
			}
			.header_button {
				width: 280px;
				height: 40px;
				display: block;
				margin: 15px auto;
				background-color: #ff4e50;
				border-radius: 20px;
				line-height: 40px;
				@media screen and(min-width: 767px){
					width: 225px;
					margin-top: 34px;	
				}
				&:hover {
					color: black;
				}
			}
		}
	}   /*end header*/

	.steps {      /*steps*/
		padding-top: 40px;
		height: 780px;
		@media screen and(min-width: 767px){
			padding-top: 98px;
			text-align: center;
			height: 520px;
		}
		h3 {
			margin-bottom: 16px;
			font-family: "Montserrat";
			font-size: 22px;
			font-weight: bold;
			text-align: center;
			@media screen and(min-width: 767px){
				margin-bottom: 30px;
				padding-left: 10px;
			}
			@media screen and(min-width: 959px){
				padding-left: 0;
			}
		}
		.steps-1 {    /*steps-1 */
			width: 260px;
			height: 170px;
			margin: 10px auto;
			padding: 70px 20px 0px;
			position: relative;
			background-image: url(../img/step-1_mobile.png);
			overflow: hidden;
			text-align: left;
			@media screen and(min-width: 767px){
				width: 195px;
				height: 188px;
				margin: 6px;
				padding: 213px 20px 0px;
				display: inline-block;
				text-align: left;
				background-image: url(../img/step-1_tablet.png);
			}
			@media screen and(min-width: 958px){
				width: 258px;
				background-image: url(../img/step-1_desktop.png);
			}
			.steps-1_nav_left {
				position: absolute;
				width: 150px;
				height: 240px;
				left: 0;
				top: 0;
				@media screen and(min-width: 767px){
					width: 30px;
					height: 55px;
					background-image: url(../img/lefl_arrow_tablet.png);
					left: 20px;
					top: 40px;
				}
				@media screen and(min-width: 959px){
					left: 15px;
					top: 155px;
				}
			}
			.steps-1_nav_right {
				position: absolute;
				width: 150px;
				height: 240px;
				right: 0;
				top: 0;
				@media screen and(min-width: 767px){
					width: 30px;
					height: 55px;
					background-image: url(../img/right_arrow_tablet.png);
					right: 20px;
					top: 40px;
				}
				@media screen and(min-width: 959px){
					right: 15px;
					top: 155px;
				}
			}
			.steps-1_block1, .steps-1_block2, .steps-1_block3 {
				display: none;
				&.show {
					display: block;
				}
			}
		}       /*end steps-1 */


		.steps-2 {   /*steps-2*/
			width: 260px;
			height: 170px;
			margin: 10px auto;
			padding: 70px 20px 0px;
			position: relative;
			background-image: url(../img/step-2_mobile.png);
			overflow: hidden;
			@media screen and(min-width: 767px){
				width: 195px;
				height: 188px;
				margin: 6px 10px;
				padding: 213px 20px 0px;
				display: inline-block;
				text-align: left;
				background-image: url(../img/step-2_tablet.png);
			}
			@media screen and(min-width: 958px){
				width: 258px;
				background-image: url(../img/step-2_desktop.png);
			}
			.steps-2_nav_left {
				position: absolute;
				width: 150px;
				height: 240px;
				left: 0;
				top: 0;
				@media screen and(min-width: 767px){
					width: 30px;
					height: 55px;
					background-image: url(../img/lefl_arrow_tablet.png);
					left: 20px;
					top: 40px;
				}
				@media screen and(min-width: 959px){
					left: 15px;
					top: 155px;
				}
			}
			.steps-2_nav_right {
				position: absolute;
				width: 150px;
				height: 240px;
				right: 0;
				top: 0;
				@media screen and(min-width: 767px){
					width: 30px;
					height: 55px;
					background-image: url(../img/right_arrow_tablet.png);
					right: 20px;
					top: 40px;
				}
				@media screen and(min-width: 959px){
					right: 15px;
					top: 155px;
				}
			}
			.steps-2_block1, .steps-2_block2, .steps-2_block3 {
				display: none;
				&.show {
					display: block;
				}
			}
		}   /*end steps-2*/


		.steps-3 {     /*steps-3 */
			width: 260px;
			height: 170px;
			margin: 10px auto;
			padding: 70px 20px 0px;
			position: relative;
			background-image: url(../img/step-3_mobile.png);
			overflow: hidden;
			@media screen and(min-width: 767px){
				width: 195px;
				height: 188px;
				margin: 6px;
				padding: 213px 20px 0px;
				display: inline-block;
				text-align: left;
				background-image: url(../img/step-3_tablet.png);
			}
			@media screen and(min-width: 958px){
				width: 258px;
				background-image: url(../img/step-3_desktop.png);
			}
			.steps-3_nav_left {
				position: absolute;
				width: 150px;
				height: 240px;
				left: 0;
				top: 0;
				@media screen and(min-width: 767px){
					width: 30px;
					height: 55px;
					background-image: url(../img/lefl_arrow_tablet.png);
					left: 20px;
					top: 40px;
				}
				@media screen and(min-width: 959px){
					left: 15px;
					top: 155px;
				}
			}
			.steps-3_nav_right {
				position: absolute;
				width: 150px;
				height: 240px;
				right: 0;
				top: 0;
				@media screen and(min-width: 767px){
					width: 30px;
					height: 55px;
					background-image: url(../img/right_arrow_tablet.png);
					right: 20px;
					top: 40px;
				}
				@media screen and(min-width: 959px){
					right: 15px;
					top: 155px;
				}
			}
			.steps-3_block1, .steps-3_block2, .steps-3_block3 {
				display: none;
				&.show {
					display: block;
				}
			}
		}     /*end steps-3 */


		.steps_mark {
				width: 70px;
				height: 18px;
				margin-bottom: 15px;
				background-color: #ff4e50;
				border-radius: 10px;
				text-align: center;
				line-height: 18px;
				color: white;
				font-size: 10px;
				font-weight: bold;
		}
		.steps_header {
			margin-bottom: 15px;
			color: white;
			font-size: 22px;
			line-height: 28px;
			font-weight: bold;
		}
		.steps_text {
			margin-bottom: 80px;
			font: 100 14px "Roboto";
			color: #ccc;
		}
 
	}         /*end steps*/


	.partners {  /*partners*/
		margin-top: 30px;
		text-align: center;
		@media screen and(min-width: 767px){
			width: 750px;
			margin: 32px auto 0;
		}
		@media screen and(min-width: 959px){
			width: 960px;
			margin-top: 32px;
		}
		h2 {
			width: 300px;
			margin: 0 auto;
			font: 700 22px "Montserrat";
			line-height: 26px;
			@media screen and(min-width: 767px){
				width: 100%;
			}
		}
		.partners_block {
			width: 220px;
			margin: 10px auto 20px;
			@media screen and(min-width: 767px){
				display: inline-block;
				margin: 26px 12px -10px 19px;
				vertical-align: top;
			}
			@media screen and(min-width: 959px){
				margin: 30px 5px 0 5px;
			}
			.partners_name {
				font-size: 12px;
				font-weight: bold;
				line-height: 42px;
			}
			.partners_description {
				font: 100 14px "Roboto";
				color: #aaa;
			}
		}
		.partners_search_button {
			width: 275px;
			height: 35px;
			margin: 25px auto 0;
			display: block;
			border: 2px solid #ff4e50;
			border-radius: 20px;
			font: 700 14px "Montserrat";
			line-height: 35px;
			text-decoration: none;
			color: #ff4e50;
			@media screen and(min-width: 767px){
				width: 188px;
				margin: 80px auto 61px;
			}
			@media screen and(min-width: 958px){
				margin: 30px auto 60px;
			}
			&:hover {
				color: black;
			}
		}

	}     /*end partners*/


	.ideas {    /*ideas*/
		height: 1244px;
		padding-top: 25px;
		position: relative;
		text-align: center;
		border-bottom: 3px solid #ff4e50;
		@media screen and(min-width: 767px){
			height: 1393px;
		}
		@media screen and(min-width: 959px){
			height: 1396px;
		}
		h2 {
			width: 320px;
			margin: 0 auto 8px;
			padding-top: 10px;
			font: 700 22px "Montserrat";
			@media screen and(min-width: 767px){
				width: 100%;
				margin-bottom: 23px;
			}
			@media screen and(min-width: 959px){
				margin-bottom: 30px;
			}
		}
		.grid {
			width: 310px;
			margin: 0 auto;
			@media screen and(min-width: 767px){
				width: 760px;
			}
			@media screen and(min-width: 959px){
				width: 950px;
			}
			.ideas_warning {
				width: 600px;
				height: 100px;
				margin: 0 auto;
				background-color: #eee;
				border: 1px solid #ccc;
				border-radius: 5px; 
				font-size: 20px;
				text-shadow: 1px 1px 1px #153b69;
				line-height: 40px;
			}
			.grid-item {
				display: inline-block;
				position: relative;
				margin: 5px;
				@media screen and(min-width: 767px){
					margin: 10px;
				}
				@media screen and(min-width: 959px){
					margin: 10px;
				}
				img {
					width: 300px;
					height: 120px;
					border-radius: 5px;
					@media screen and(min-width: 767px){
						width: 230px;
						height: 310px;
					}
					@media screen and(min-width: 959px){
						width: 290px;
						height: 310px;
					}
				}
				&:nth-child(5) {
					img {
						@media screen and(min-width: 767px){
							width: 480px;
						}
						@media screen and(min-width: 959px){
							width: 600px;
						}
					}
				}
				&:nth-child(6) {
					img {
						@media screen and(min-width: 767px){
							width: 480px;
						}
						@media screen and(min-width: 959px){
							width: 600px;
						}
					}
				}
				h3 {
					padding-left: 20px;
					font-size: 20px;
					font-weight: bold;
					position: absolute;
					top: 40%;	
					color: white;
				}
			}
		}
		.ideas_holiday {
			width: 320px;
			height: 230px;
			padding-left: 10px;
			margin-left: -170px;
			position: absolute;
			bottom: 37px;
			left: 50%;
			@media screen and(min-width: 767px){
				width: 450px;
				height: 275px;
				padding-left: 6px;
				margin-left: -230px;
				bottom: 17px;	
			}
			h3 {
				margin: 35px 0 10px;
				font: 700 22px "Montserrat";
				@media screen and(min-width: 767px){
					margin: 35px 0 33px;
				}
			}
			span {
				font-size: 16px;
				@media screen and(min-width: 767px){
					font-size: 1.1em;
				}
			}
			input {
				width: 280px;
				height: 34px;
				margin: 15px auto 10px;
				display: block;
				border-radius: 5px;
				@media screen and(min-width: 767px){
					width: 237px;
					margin: 38px auto 10px;
					display: inline-block;
				}
			}
			button {
				width: 280px;
				height: 44px;
				border-radius: 22px;
				color: white;
				background-color: #ff4e50;
				font-size:14px;
				@media screen and(min-width: 767px){
					width: 162px;
					margin-top: 28px;
				}
				&:hover {
					color: black;
				}
			}
		}
	}    /*end ideas*/



	.footer {  /*footer*/
		padding-top: 18px;
		text-align: center;
		@media screen and(min-width: 767px){
			padding-top: 37px;
			height: 215px;
		}
		.footer_container{
			margin: 0 auto;
			width: 320px;
			@media screen and(min-width: 767px){
				width: 768px;
			}
			@media screen and(min-width: 959px){
				width: 960px;
			}
			h3 {
				font-weight: bold;
				font-size: 16px;
				@media screen and(min-width: 767px){
					margin-left: 40px;
					float: left;
				}
				@media screen and(min-width: 959px){
					margin-left: 10px;
				}
				a {
					text-decoration: none;
					color: #ff4e50;
					&:hover {
						color: black;
					}
				}
			}
			.footer_wrapper {
				@media screen and(min-width: 767px){
					width: 250px;
					margin: 0 auto;			}
				@media screen and(min-width: 959px){
					margin-left: 234px;
				}
				.footer_company {
					@media screen and(min-width: 767px){
						width: 120px;
						display: inline-block;
						text-align: left;
					}
					.footer_company_menu {
						.footer_menu_item {
							margin: 3px;
							display: inline-block;
							@media screen and(min-width: 767px){
								display: block;
								line-height: 20px;
							}
							a {
								text-decoration: none;
								color: black;
							}
						}
					}
				}
				h4 {
					margin-top: 9px;
					font-weight: bold;
					font-size: 13px;
					@media screen and(min-width: 767px){
						margin-top: 0;
						margin-bottom: 13px;
						padding-left: 6px;
					}
				}
				.footer_partners {
					@media screen and(min-width: 767px){
						width: 85px;
						padding-left: 40px;
						display: inline-block;
						vertical-align: top;
					}
					@media screen and(min-width: 959px){
						padding-left: 24px;
					}
				}
			}
		
			.footer_logo {
				width: 110px;
				height: 40px;
				display: block;
				margin: 25px auto;
				background-image: url(../img/designed_logo_mobile.png);
				@media screen and(min-width: 767px){
					width: 115px;
					height: 44px;
					margin-top: -121px;
					float: right;
					margin-right: 35px;
					background-image: url(../img/designed_logo_tablet.png);
				}
				@media screen and(min-width: 959px){
						margin-right: 6px;
				}
			}
		}
		
	}    /*end footer*/



}


/*end*/

